
$primarycolor: #0f003f;
$secondaycolor: #ffbd24;
$tertiarycolor: #00cce3;

$siteaplpha: rgba($primarycolor, 0.88);

.app-container {
  background: url("../assets/img/bg.png") no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
  background-color: #00cce3;
  overflow-y: scroll;
}

.main-page {
  width: 100% !important;
  max-width: 100% !important;
  margin: 0 !important;
  padding: 0 !important;
  display: flex;
  flex-direction: column;

  h1 {
    color: $secondaycolor;
    font-family: "Poppins";
    font-weight: bold;
  }
}

.login_ref_page {
  justify-content: center !important;
  height: 100% !important;
  align-items: center;
}

.imdb-logo {
  background: url("../assets/img/imdb_logo.png") no-repeat;
  height: 30px;
  width: 59px;
}

.imdb-logo {
  width: 59px;
  height: 30px;
  margin-right: 10px;
  background: url("../assets/img/imdb_logo.png");
}

// .error-msg {
//   margin-top: 5px;
//   font-style: italic;
//   color: $secondaycolor;
// }

.mat-toolbar {
  height: 125px;
  background-color: #0f003f;

  img {
    padding: 5px;
    height: 90px;
  }
  .user-icon {
    margin-right: 20px !important;
    transform: scale(2);
  }

  .spacer {
    flex: 1 1 auto;
  }
}
